/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
}

/* Caracteristicas */
.container {
  text-align: center;
}

.horizontal-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 20px;
  min-width: 200px;
}

h4 {
  font-weight: bold;
}

button {
  margin-top: 10px;
}

/* Estilo del botón de agregar */
.btn-success {
  margin-left: 10px;
  padding: 12px 20px;
  font-size: 1.1em;
  background-color: #30543f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-success:hover {
  background-color: #28a745;
  transform: scale(1.05);
}

/* Tabla */
table {
  margin: 20px 0;
  font-size: 16px;
  width: 100%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
}

th,
td {
  padding: 15px 20px;
  text-align: center;
  /* Centrar todo el texto */
  border: none;
  /* Eliminar bordes */
  transition: background-color 0.3s ease;
}

th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f2f9f5;
}

tr:hover {
  background-color: #e6f7ec;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  padding: 15px 20px;
  text-align: center;
  /* Centrar todo el texto */
  height: 50px;
}

.table-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buttonModificar {
  font-size: 30px;
  color: #30543f;
}

.buttonModificar:hover {
  color: #28a745;
}

.buttonEliminar {
  font-size: 30px;
  color: red;
}

.buttonEliminar:hover {
  color: darkred;
}

.No-resultados {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.table-container th:nth-child(1) {
  width: 68%;
}

.table-container th:nth-child(2) {
  width: 16%;
}

.table-container th:nth-child(3) {
  width: 16%;
}

/* Modal para editar */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
  width: 550px;
  height: auto;
  padding: 30px;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo de los inputs en el modal */
.modal input[type="text"],
.modal input[type="email"],
.modal select {
  width: calc(100% - 50px);
  padding: 15px;
  margin: 0 auto 10px auto;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.close-button {
  position: absolute;
  top: -3px;
  right: 0px;
  background: none;
  border: none;
  font-size: 40px;
  color: #dc3545;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #b02a37;
}

.form-row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.form-group {
  flex: 1;
  max-width: 300px;
  margin-right: 15px;
}

.form-group:last-child {
  margin-right: 0;
}

.modal-body .form-row:last-child {
  margin-bottom: 0;
}

.btn:not(.btn-success, .btn-danger) {
  margin: 8px;
  padding: 12px 20px;
  font-size: 1.1em;
  width: auto;
  background-color: #30543f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:not(.btn-success, .btn-danger):hover {
  background-color: #28a745;
  transform: scale(1.05);
}

/* Modal de eliminar */
.modal2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
  width: 750px;
  height: auto;
  padding: 30px;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-body2 {
  text-align: center;
}

.btn-danger {
  background-color: red;
  color: white;
  margin: 8px;
  padding: 12px 20px;
  font-size: 1.1em;
  width: auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
  background-color: #b02a37;
  transform: scale(1.05);
}

/* Tabla subcategoria */
.table-container-subcategoria th:nth-child(1) {
  width: 34%;
}

.table-container-subcategoria th:nth-child(2) {
  width: 34%;
}

.table-container-subcategoria th:nth-child(3) {
  width: 16%;
}

.table-container-subcategoria th:nth-child(4) {
  width: 16%;
}

/* Modal agregar para subcategoria */
.modal2 input[type="text"],
.modal2 input[type="email"],
.modal2 select {
  width: calc(100% - 50px);
  padding: 15px;
  margin: 0 auto 10px auto;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal2-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
