/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
  color: #30543f;
}

/* Buscador y datos */
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #30543f;
}

.search-input {
  padding: 12px;
  /* Aumentado el padding para mejor visualización */
  font-size: 18px;
  border: 2px solid #30543f;
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(48, 84, 63, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 280px;
  /* Aumentado el ancho */
}

.search-input:focus {
  border-color: #2ecc71;
  /* Color verde al enfocar */
  outline: none;
}

.info-container {
  display: flex;
  gap: 15px;
  /* Aumentado el gap para mejor separación */
}

/* Botón */
.container {
  text-align: center;
}

button {
  margin-top: 10px;
}

/* Estilo del botón de agregar */
.btn-success {
  margin-left: 10px;
  padding: 12px 20px;
  /* Aumentado el padding */
  font-size: 1.1em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Transición suave con transformación */
}

.btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
  /* Ligera escala al hacer hover */
}

/* Tabla */
.table-scroll {
  overflow-x: auto;
  width: 100%;
}

.table-container {
  min-width: 2700px;
}

table {
  width: auto;
  margin: 20px 0;
  font-size: 16px;
  /* Aumentado el tamaño de fuente */
  border-collapse: collapse;
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Evita que los bordes redondeados se desborden */
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
  /* Sombra con verde oscuro */
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 15px 20px;
  /* Aumentado el padding */
  text-align: center;
  height: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
  /* Añadido para consistencia */
}

tr:nth-child(even) {
  background-color: #f2f9f5;
}

tr:hover {
  background-color: #e6f7ec;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container td:nth-child(8),
.table-container td:nth-child(9),
.table-container td:nth-child(10),
.table-container td:nth-child(11) {
  text-align: right;
}

.table-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buttonModificar {
  font-size: 30px;
  color: #007bff;
}

.buttonModificar:hover {
  color: #0056b3;
}

.buttonEliminar {
  font-size: 30px;
  color: #dc3545;
}

.buttonEliminar:hover {
  color: #b02a37;
}

.No-resultados {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.table-container th:nth-child(1) {
  width: 4%;
}

.table-container th:nth-child(2) {
  width: 4%;
}

.table-container th:nth-child(3) {
  width: 4%;
}

.table-container th:nth-child(4) {
  width: 16%;
}

.table-container th:nth-child(5) {
  width: 6%;
}

.table-container th:nth-child(6) {
  width: 6%;
}

.table-container th:nth-child(7) {
  width: 6%;
}

.table-container th:nth-child(8) {
  width: 6%;
}

.table-container th:nth-child(9) {
  width: 6%;
}

.table-container th:nth-child(10) {
  width: 4%;
}

.table-container th:nth-child(11) {
  width: 6%;
}

.table-container th:nth-child(12) {
  width: 6%;
}

.table-container th:nth-child(13) {
  width: 4%;
}

table-container th:nth-child(14) {
  width: 4%;
}

table-container th:nth-child(15) {
  width: 4%;
}

table-container th:nth-child(16) {
  width: 6%;
}

table-container th:nth-child(17) {
  width: 6%;
}

/* Modal para editar */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Sombra con verde oscuro */
  width: 800px;
  height: auto;
  padding: 30px;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo de los inputs en el modal */
.modal input[type="text"],
.modal input[type="email"],
.modal select,
.modal input[type="number"],
.modal input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 0 auto 10px auto;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #30543f;
}

.close-button {
  position: absolute;
  top: -3px;
  right: 0px;
  background: none;
  border: none;
  font-size: 40px;
  color: #dc3545;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #b02a37;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
}

.form-group {
  flex: 1 1 calc(25% - 15px);
  margin-right: 15px;
}

.form-group:last-child {
  margin-right: 0;
}

.right-align {
  text-align: right;
}

.modal-body .form-row:last-child {
  margin-bottom: 0;
}

.btn:not(.btn-success, .btn-danger) {
  margin: 8px;
  padding: 12px 20px;
  /* Aumentado el padding */
  font-size: 1.1em;
  width: auto;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Transición suave con transformación */
}

.btn:not(.btn-success, .btn-danger):hover {
  background-color: #218838;
  transform: scale(1.05);
  /* Ligera escala al hacer hover */
}

/* Modal de eliminar */
.modal2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Sombra con verde oscuro */
  width: 750px;
  height: auto;
  padding: 30px;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-body2 {
  text-align: center;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  margin: 8px;
  padding: 12px 20px;
  /* Aumentado el padding */
  font-size: 1.1em;
  width: auto;
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Transición suave con transformación */
}

.btn-danger:hover {
  background-color: #b02a37;
  transform: scale(1.05);
  /* Ligera escala al hacer hover */
}
