<h2>Transportadores</h2>

<div class="flex-container">
    <div class="search-header">
      <h2 class="titulo-buscador">Buscar un transportador</h2>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        (input)="onSearch()"
        placeholder="Buscar por nombre"
        class="search-input"
      />
    </div>
    <button class="btn btn-success" (click)="onAdd()">
      <i class="bi bi-plus-lg"></i> 
    </button>
</div>
  
<div class="modal-overlay" *ngIf="showAddModal">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registrar transportador</h5>
            <button type="button" class="btn-close close-button" (click)="closeAddModal()">
              <i class="bi bi-x-square-fill"></i>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
              <div class="form-row">
                <div class="form-group">
                  <label for="nombre" class="form-label">Nombre:</label>
                  <input type="text" id="nombre" class="form-control" name="nombre" ngModel required>
                </div>
                <div class="form-group">
                  <label for="celular" class="form-label">Celular</label>
                  <input type="text" id="celular" class="form-control" name="celular" ngModel required>
                </div>
                <div class="form-group">
                    <label for="municipio" class="form-label">Municipio:</label>
                    <input type="text" id="municipio" class="form-control" name="municipio" [(ngModel)]="selectedMunicipio" (input)="searchMunicipios()" placeholder="Buscar municipio" required>
                    <ul *ngIf="showMunicipios && municipios.length > 0" class="dropdown-list">
                        <li *ngFor="let municipio of municipios" (click)="selectMunicipio(municipio)">{{ municipio.nombre }}</li>
                    </ul>
                </div>                
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Registrar</button>
              </div>
            </form>
          </div>          
        </div>
      </div>
    </div>
  </div>

<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Municipio</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transportador of filteredTransportador()">
          <td>{{ transportador.nombre }}</td>
          <td>{{ transportador.celular }}</td>
          <td>{{ transportador.municipio_nombre }}</td>
          <td>
            <button class="buttonModificar" (click)="onEdit(transportador)">
              <i class="bi bi-pen-fill"></i>
            </button>
          </td>
          <td>
            <button class="buttonEliminar" (click)="onDelete(transportador.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredTransportador().length === 0">
          <td colspan="5" class="No-resultados">No se encontraron resultados</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="modal-overlay" *ngIf="showEditModal">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modificar datos del transportador</h5>
            <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close" (click)="closeEditModal()">
              <i class="bi bi-x-square-fill"></i> 
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm" (ngSubmit)="onEditSubmit(editForm)">
              <div class="form-row">
                <div class="form-group">
                  <label for="nombre" class="form-label">Nombre:</label>
                  <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="selectedTransportador.nombre" required>
                </div>
                <div class="form-group">
                  <label for="celular" class="form-label">Celular:</label>
                  <input type="text" id="celular" class="form-control" name="celular" [(ngModel)]="selectedTransportador.celular" required>
                </div>
                <div class="form-group">
                  <label for="municipio" class="form-label">Municipio:</label>
                  <input type="text" id="municipio" class="form-control" name="municipio" [(ngModel)]="selectedMunicipio" (input)="searchMunicipios()" placeholder="Buscar municipio" required>
                  <ul *ngIf="showMunicipios && municipios.length > 0" class="dropdown-list">
                    <li *ngFor="let municipio of municipios" (click)="selectMunicipio(municipio)">{{ municipio.nombre }}</li>
                  </ul>
                </div>     
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="modal-overlay" *ngIf="showDeleteConfirmation">
    <div class="modal2" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmación de Eliminación</h5>
            <button type="button" class="btn-close close-button" (click)="closeDeleteConfirmation()">
              <i class="bi bi-x-square-fill"></i>
            </button>
          </div>
          <div class="modal-body2">
            <p>¿Estás seguro de que deseas eliminar este transportador?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>