/* Título principal */
h2 {
  text-align: center;
  font-weight: bold;
}

/* Buscador y datos */
.flex-container {
  display: flex;
  justify-content: center;
  /* Centrar el buscador */
  padding-top: 20px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #30543f;
}

.search-input {
  padding: 12px;
  font-size: 18px;
  border: 2px solid #30543f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(48, 84, 63, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
  box-sizing: border-box;
}

.search-input:focus {
  border-color: #28a745;
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

/* Título del mes (Proveedor) */
.supplier-title {
  font-size: 25px;
  font-weight: bold;
  color: #30543f;
  position: relative;
  border-bottom: 2px solid #28a745;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 20px;
}

/* Icono del título del mes */
.supplier-title::before {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 5px solid #28a745;
  border-radius: 50%;
  background-color: transparent;
}

/* Contenedor de la tabla */
.table-container {
  display: flex;
  justify-content: center;
}

/* Tabla principal */
table {
  max-width: 100%;
  width: auto;
  margin: 20px 0;
  font-size: 16px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 15px;
  text-align: center;
  /* Centrar todo el texto */
  border: none;
  /* Eliminar bordes */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f2f9f5;
}

tr:hover:not(.total-row) {
  background-color: #e6f7ec;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  height: 50px;
}

/* Centrar todas las columnas */
.table-container td:nth-child(5),
.table-container td:nth-child(6),
.table-container td:nth-child(7) {
  text-align: center;
}

.No-resultados {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.table-container th:nth-child(1) {
  width: 8%;
}

.table-container th:nth-child(2) {
  width: 25%;
}

.table-container th:nth-child(3) {
  width: 10%;
}

.table-container th:nth-child(4) {
  width: 10%;
}

.table-container th:nth-child(5) {
  width: 10%;
}

.table-container th:nth-child(6) {
  width: 15%;
}

.table-container th:nth-child(7) {
  width: 15%;
}

/* Contenedor de la fila total */
.total-table-container {
  margin-top: -35px;
  display: flex;
  justify-content: center;
}

/* Tabla de la fila total */
.total-table {
  width: 100%;
  border-collapse: collapse;
}

/* Fila total */
.total-row {
  background-color: #28a745;
  font-weight: bold;
  color: white;
}

.total-table td {
  padding: 25px;
  text-align: center;
  /* Centrar todo el texto */
}

.total-table td:nth-child(1) {
  width: 80%;
  margin-right: 0;
}

.total-table td:nth-child(2) {
  padding-right: 10px;
  width: 20%;
}

/* Mensaje "No hay resultados" */
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.No-resultados {
  font-weight: bold;
  font-size: 25px;
  color: #30543f;
}
