    /* Titulo */
    h2 {
      text-align: center;
      font-weight: bold;
    }
  
  /* Bucador y datos */
  .flex-container {
      display: flex;
      justify-content: space-between; 
      padding-top: 20px;
    }
    
    .search-header {
      display: flex;
      align-items: center; 
      gap: 20px; 
    }
    
    .titulo-buscador {
      font-size: 25px; 
      font-weight: bold;
      margin: 0;
    }
    
    .search-input {
      padding: 10px; 
      font-size: 18px; 
      border: 2px solid #ccc; 
      border-radius: 5px; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      transition: border-color 0.3s; 
      width: 260px;
    }
  
    /* Nombre del mes */
  .supplier-title {
      font-size: 25px;
      font-weight: bold;
      color: black;
      position: relative;
      border-bottom: 2px solid #28a745;
      text-align: left;
      padding-left: 30px; 
    }
    
    /* Icono */
    .supplier-title::before {
      content: "";
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border: 5px solid green; 
      border-radius: 50%; 
      background-color: transparent; 
    }
  
    /* Tabla */
  
  .table-container {
      display: flex;
      justify-content: center; 
  }
  
  table {
      max-width: 100%; 
      width: auto; 
      margin: 20px 0;
      font-size: 15px;
    }
    
    .table-container table {
      border-collapse: collapse;
      width: 100%; 
      table-layout: fixed;
    }
    
    th {
      background-color: green;
      color: white;
      border: 1px solid #ddd;
    }
    
    td {
      
      border: 1px solid #ddd;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    tr:hover:not(.total-row) {
      background-color: #e9ecef;
    }
    
    .table-container table {
      border-collapse: collapse;
    }
    
    .table-container th,
    .table-container td {
      padding: 10px;
      text-align: center; 
      height: 50px;
    }
    
    .table-container td:nth-child(5),
    .table-container td:nth-child(6),
    .table-container td:nth-child(7){
      text-align: right;
    }
     
    .No-resultados {
      font-weight: bold;
      font-size: 15px;
    }
    
    .table-container th:nth-child(1) { width: 8%; } 
    .table-container th:nth-child(2) { width: 25%; } 
    .table-container th:nth-child(3) { width: 10%; }
    .table-container th:nth-child(4) { width: 10%; }
    .table-container th:nth-child(5) { width: 10%; }
    .table-container th:nth-child(6) { width: 15%; }
    .table-container th:nth-child(7) { width: 15%; }
  
    /* Fila total */
    .total-table-container {
      margin-top: -35px;
      display: flex;
      justify-content: center; 
    } 
    
    .total-table {
      width: 100%; 
      border-collapse: collapse;
    }
     
    .total-row {
      background-color: rgb(28, 209, 31);    
      font-weight: bold; 
      color: white; 
    }
    
    .total-table td {
      padding: 25px;
    }
    
    .total-table td:nth-child(1) {
      text-align: center;
      width: 80%;
      margin-right: 0;
    }
    
    .total-table td:nth-child(2) {
      padding-right: 10px; 
      text-align: right;
      width: 20%;
    }
  
    /* si no hay resultados*/
    .no-results {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px; 
  }
  
  .No-resultados {
      font-weight: bold;
      font-size: 25px;
      color:black;
  }
  