<mat-toolbar class="header">
  <div class="profile-container">
    <img [src]="userImage || 'default-avatar.jpg'" class="profile-img" />
  </div>

  <div class="rol">
    {{ rol }}
    <div class="sub-rol">{{ nombre }}</div>
  </div>
  <span class="example-spacer"></span>
  <div class="center-text">Distribuidora San Francisco</div>
  <span class="example-spacer"></span>
  <notification-stock-minimo> </notification-stock-minimo>
  <div class="icon-container">
    <button
      type="button"
      class="btn btn-link settings-button"
      (click)="openModal()"
    >
      <i class="bi bi-gear-fill"></i>
    </button>
  </div>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />
</mat-toolbar>

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Configuraciones</h5>
          <button
            type="button"
            class="btn-close close-button"
            (click)="closeModal()"
          >
            <i class="bi bi-x-square-fill"></i>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="rol" class="form-label">Rol:</label>
              <input
                type="text"
                id="rol"
                class="form-control"
                name="rol"
                [(ngModel)]="rol"
                placeholder="Escriba el rol"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="nombre" class="form-label">Nombre:</label>
              <input
                type="text"
                id="nombre"
                class="form-control"
                name="nombre"
                [(ngModel)]="nombre"
                placeholder="Ingrese su nombre"
              />
            </div>
            <div class="form-group">
              <label for="usuario" class="form-label">Usuario:</label>
              <input
                type="text"
                id="usuario"
                class="form-control"
                name="usuario"
                [(ngModel)]="usuario"
                placeholder="Ingrese su usuario"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="contrasena" class="form-label">Contraseña:</label>
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="contrasena"
                  class="form-control password-field"
                  name="contrasena"
                  [(ngModel)]="contrasena"
                  placeholder="Ingrese su contraseña"
                  readonly
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary toggle-password"
                  (click)="togglePasswordVisibility()"
                >
                  <i *ngIf="showPassword" class="bi bi-eye-slash"></i>
                  <i *ngIf="!showPassword" class="bi bi-eye"></i>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="foto" class="form-label">Foto de Perfil:</label>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="selectFile()"
              >
                Seleccionar archivo
              </button>
              <span class="file-name">{{
                selectedFileName || "Ningún archivo seleccionado"
              }}</span>
              <input
                type="file"
                id="foto"
                class="file-input"
                (change)="onImageSelect($event)"
                hidden
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveChanges()">
            Guardar cambios
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="showLogoutConfirmation()"
          >
            Cerrar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación de cierre de sesión -->
<div class="modal-overlay" *ngIf="showLogoutConfirmationModal">
  <div class="modal2" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación de Cierre de Sesión</h5>
          <button
            type="button"
            class="btn-close close-button"
            (click)="closeLogoutConfirmation()"
          >
            <i class="bi bi-x-square-fill"></i>
          </button>
        </div>
        <div class="modal-body2">
          <p>¿Estás seguro de que deseas cerrar sesión?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="confirmLogout()"
          >
            Cerrar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
