/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
  color: #30543f;
  /* Verde oscuro para el título */
}

/* Bucador y datos */
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #30543f;
  /* Verde oscuro para el título del buscador */
}

.search-input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #30543f;
  /* Verde oscuro para el borde del input */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(48, 84, 63, 0.1);
  /* Sombra suave con verde oscuro */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
}

/* Tabla */
table {
  margin: 20px 0;
  font-size: 15px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  /* Borde más suave */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Transiciones suaves */
}

th {
  background-color: #30543f;
  /* Verde oscuro para encabezados */
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f9f5;
  /* Verde claro para filas pares */
}

tr:hover {
  background-color: #e6f7ec;
  /* Verde claro al pasar el ratón */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  height: 50px;
}

.table-container td:nth-child(5),
.table-container td:nth-child(6),
.table-container td:nth-child(7),
.table-container td:nth-child(8),
.table-container td:nth-child(9) {
  text-align: right;
}

.table-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.table-container th:nth-child(1) {
  width: 8%;
}

.table-container th:nth-child(2) {
  width: 8%;
}

.table-container th:nth-child(3) {
  width: 8%;
}

.table-container th:nth-child(4) {
  width: 20%;
}

.table-container th:nth-child(5) {
  width: 10%;
}

.table-container th:nth-child(6) {
  width: 10%;
}

.table-container th:nth-child(7) {
  width: 10%;
}

.table-container th:nth-child(8) {
  width: 10%;
}

.table-container th:nth-child(9) {
  width: 10%;
}

.table-container th:nth-child(10) {
  width: 10%;
}

.table-container th:nth-child(11) {
  width: 10%;
}

/* Boton abonar */
.buttonAbonar {
  font-size: 30px;
  color: #007bff;
  /* Azul para abonar */
  background-color: #e0f7fa;
  /* Azul claro para el fondo */
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonAbonar:hover {
  color: #0056b3;
  background-color: #b3e5fc;
  /* Azul claro más oscuro al pasar el ratón */
}

/* Modal para editar */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 900px;
  height: auto;
  padding: 30px;
  animation: fadeIn 0.3s;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo de los inputs en el modal */
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="date"] {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #30543f;
  /* Verde oscuro para el título del modal */
}

.close-button {
  position: absolute;
  top: -3px;
  right: 0px;
  background: none;
  border: none;
  font-size: 40px;
  color: #dc3545;
  cursor: pointer;
}

.close-button:hover {
  color: #b02a37;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 15px;
}

.form-group:last-child {
  margin-right: 0;
}

.modal-body .form-row:last-child {
  margin-bottom: 0;
}

.btn:not(.btn-success, .btn-danger) {
  margin: 8px;
  padding: 10px 20px;
  font-size: 1.1em;
  width: auto;
  background-color: #28a745;
  /* Verde claro para botones en modal */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
}
