/* Título principal */
h2 {
  text-align: center;
  font-weight: bold;
  color: #30543f;
  animation: fadeIn 1s ease;
}

/* Contenedor del buscador y datos */
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* Cabecera del buscador */
.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Título del buscador */
.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #30543f;
}

/* Input del buscador */
.search-input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #30543f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(48, 84, 63, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
}

/* Tabla principal */
table {
  margin: 20px auto;
  font-size: 14px;
  /* Reducir el tamaño de la fuente para mejor ajuste */
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  /* Cambiar a auto para permitir flexibilidad */
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
  animation: fadeIn 1.5s ease;
  border-radius: 8px;
  overflow: hidden;
}

/* Encabezados y celdas de la tabla */
th,
td {
  padding: 12px 15px;
  /* Reducir el padding para mejor ajuste */
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
  /* Permite que el texto largo se ajuste */
}

/* Encabezados de la tabla */
th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
}

/* Filas pares de la tabla */
tr:nth-child(even) {
  background-color: #f2f9f5;
}

/* Efecto hover en filas de la tabla */
tr:hover {
  background-color: #e6f7ec;
}

/* Altura de celdas de la tabla */
.table-container th,
.table-container td {
  height: auto;
}

/* Estilos de botones en la tabla */
.table-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Ancho de columnas de la tabla */
.table-container th:nth-child(1) {
  width: 6%;
  /* Reducir el ancho */
}

.table-container th:nth-child(2) {
  width: 8%;
}

.table-container th:nth-child(3) {
  width: 15%;
  /* Aumentar para el Nit */
}

.table-container th:nth-child(4) {
  width: 20%;
  /* Reducir el ancho */
}

.table-container th:nth-child(5) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(6) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(7) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(8) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(9) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(10) {
  width: 8%;
  /* Reducir el ancho */
}

.table-container th:nth-child(11) {
  width: 8%;
  /* Reducir el ancho */
}

/* Botón abonar */
.buttonAbonar {
  font-size: 24px;
  /* Reducir el tamaño del icono */
  color: #007bff;
  background-color: #e0f7fa;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonAbonar:hover {
  color: #0056b3;
  background-color: #b3e5fc;
}

/* Modal para editar */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(48, 84, 63, 0.3);
  width: 700px;
  padding: 30px;
  animation: fadeIn 0.3s ease-in-out;
}

/* Cabecera del modal */
.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}

/* Pie del modal */
.modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animación de aparición del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilos de inputs en el modal */
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="date"] {
  width: calc(100% - 40px);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Título del modal */
.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #30543f;
}

/* Botón cerrar modal */
.close-button {
  position: absolute;
  top: -3px;
  right: 0px;
  background: none;
  border: none;
  font-size: 40px;
  color: #dc3545;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #b02a37;
}

/* Contenedor de filas de formulario en el modal */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Grupo de formulario */
.form-group {
  flex: 1;
  margin-right: 15px;
}

.form-group:last-child {
  margin-right: 0;
}

/* Última fila de formulario en el modal */
.modal-body .form-row:last-child {
  margin-bottom: 0;
}

/* Botones genéricos en el modal */
.btn:not(.btn-success, .btn-danger) {
  margin: 8px;
  padding: 10px 20px;
  font-size: 1.1em;
  width: auto;
  background-color: #30543f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: -10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn:not(.btn-success, .btn-danger):hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
