/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
}

/* Buscador y datos */
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.search-input {
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(48, 84, 63, 0.3);
  transition: border-color 0.3s ease;
  width: 280px;
}

.search-input:focus {
  border-color: #2ecc71;
  outline: none;
}

.info-container {
  display: flex;
  gap: 15px;
}

.info-box {
  padding: 12px 20px;
  background-color: #30543f;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(48, 84, 63, 0.3);
}

/* Tabla */
table {
  margin: 20px 0;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
}

th,
td {
  padding: 15px 20px;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease;
}

th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f2f9f5;
}

tr:hover {
  background-color: #e6f7ec;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  padding: 15px 20px;
  text-align: center;
  height: 50px;
}

.No-resultados {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.table-container th:nth-child(1) {
  width: 9%;
}

.table-container th:nth-child(2) {
  width: 12%;
}

.table-container th:nth-child(3) {
  width: 15%;
}

.table-container th:nth-child(4) {
  width: 20%;
}

.table-container th:nth-child(5) {
  width: 15%;
}

.table-container th:nth-child(6) {
  width: 10%;
}

.table-container th:nth-child(7) {
  width: 8%;
}

.table-container th:nth-child(8) {
  width: 10%;
}
