/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
}

/* Total vencidos y a vencerse */
.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.info-container {
  display: flex;
  gap: 15px;
  /* Aumentado el gap para mejor separación */
}

.info-box {
  padding: 12px 20px;
  /* Aumentado el padding */
  background-color: #c63f25;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(198, 63, 37, 0.3);
  /* Sombra con color ajustado */
}

/* Boton total2 */
.info-box2 {
  padding: 12px 20px;
  /* Aumentado el padding */
  background-color: #d17a25;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(209, 122, 37, 0.3);
  /* Sombra con color ajustado */
}

/* Nombre del mes */
.supplier-title {
  font-size: 25px;
  font-weight: bold;
  color: black;
  position: relative;
  border-bottom: 2px solid #28a745;
  text-align: left;
  padding-left: 30px;
}

/* Icono */
.supplier-title::before {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 5px solid #30543f;
  border-radius: 50%;
  background-color: transparent;
}

/* Tabla */
table {
  margin: 20px 0;
  font-size: 16px;
  /* Aumentado el tamaño de fuente */
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Evita que los bordes redondeados se desborden */
  box-shadow: 0 6px 12px rgba(48, 84, 63, 0.3);
  /* Sombra con verde oscuro */
}

th,
td {
  padding: 15px 20px;
  /* Aumentado el padding */
  text-align: center;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

th {
  background-color: #30543f;
  color: white;
  font-weight: 600;
  /* Añadido para consistencia */
}

tr:nth-child(even) {
  background-color: #f2f9f5;
}

tr:hover:not(.total-row, .total-row2) {
  background-color: #e6f7ec;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  padding: 15px 20px;
  /* Aumentado el padding */
  text-align: center;
  height: 50px;
}

.table-container td:nth-child(7),
.table-container td:nth-child(8),
.table-container td:nth-child(9) {
  text-align: right;
}

.table-container th:nth-child(1) {
  width: 9%;
}

.table-container th:nth-child(2) {
  width: 10%;
}

.table-container th:nth-child(3) {
  width: 10%;
}

.table-container th:nth-child(4) {
  width: 16%;
}

.table-container th:nth-child(5) {
  width: 16%;
}

.table-container th:nth-child(6) {
  width: 10%;
}

.table-container th:nth-child(7) {
  width: 8%;
}

.table-container th:nth-child(8) {
  width: 10%;
}

.table-container th:nth-child(9) {
  width: 10%;
}

/* Fila total */
.total-table-container {
  margin-top: -15px;
}

.total-table {
  width: 100%;
  border-collapse: collapse;
}

.total-row {
  background-color: #c63f25;
  font-weight: bold;
  color: white;
}

.total-table td {
  padding: 25px;
}

.total-table td:nth-child(1) {
  text-align: center;
  width: 90%;
  margin-right: 0;
}

.calculo {
  text-align: right;
}

.total-table td:nth-child(2) {
  padding-right: 10px;
}

/* Fila total de tabla 2 */
.total-row2 {
  background-color: #d17a25;
  font-weight: bold;
  color: white;
}
