<h2>Devolucion de una venta</h2>

<div class="flex-container">
  <div class="search-header">
    <h2 class="titulo-buscador">Buscar un cliente</h2>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      (input)="onSearch()" 
      placeholder="Buscar por cédula"
      class="search-input"
    />
  </div>  
</div>

<div *ngIf="ventas.length > 0">
  <div *ngFor="let venta of ventas" class="supplier-container">
    <div class="supplier-header">
        <h2 class="supplier-title">Fecha: {{ venta.fecha | date:'yyyy-MM-dd' }} - Cliente: {{ venta.cliente }}</h2>
        <button class="btn btn-success" (click)="onSelectVenta(venta)">
            <i class="bi bi-plus-lg"></i>
        </button>        
    </div>    
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Formulación</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of venta.detalles">
            <td>{{ detalle.producto_codigo }}</td>
            <td>{{ detalle.producto_nombre }}</td>
            <td>{{ detalle.formulacion_nombre }}</td>
            <td>{{ detalle.unidad_nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
            <td>{{ detalle.subtotal | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="total-table-container">
      <table class="total-table">
        <tbody>
          <tr class="total-row">
            <td colspan="6">Total</td>
            <td class="calculo">{{ getTotalSubTotal(venta.detalles) | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
</div>
 
<h2 class="titulo-buscador">Venta seleccionada</h2>

<div *ngIf="selectedVentas.length > 0">
  <div *ngFor="let venta of selectedVentas; let vIndex = index" class="supplier-container">
      <div class="supplier-header">
          <h2 class="supplier-title">
              Fecha: {{ venta.fecha | date:'yyyy-MM-dd' }} - Cliente: {{ venta.cliente }}
          </h2>
          <button class="btn btn-danger" (click)="onDelete(vIndex)">
            <i class="bi bi-arrow-repeat"></i>
          </button>          
      </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Formulación</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of venta.detalles; let dIndex = index">
            <td>{{ detalle.producto_codigo }}</td>
            <td>{{ detalle.producto_nombre }}</td>
            <td>{{ detalle.formulacion_nombre }}</td>
            <td>{{ detalle.unidad_nombre }}</td>
            <td>
              <div class="quantity-control">
                  <button class="btn-quantity" (click)="decrementQuantity(vIndex, dIndex)">-</button>
                  <span class="quantity-value">{{ detalle.cantidad }}</span>
                  <button class="btn-quantity-more" (click)="incrementQuantity(vIndex, dIndex)">+</button>
              </div>
            </td>            
            <td>{{ detalle.precio_unitario | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
            <td>{{ detalle.subtotal | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
            <td>
              <button class="btn btn-danger2" (click)="removeFila(vIndex, dIndex)">
                  <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="total-table-container">
      <table class="total-table">
        <tbody>
          <tr class="total-row">
            <td colspan="6">Total</td>
            <td class="calculo">{{ getTotalSubTotal(venta.detalles) | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="final">
    <button class="btn-finalizar" (click)="actualizarVenta(selectedVentas)">
      Actualizar venta
    </button>
  </div>
</div>

  
  <div class="modal-overlay" *ngIf="showDeleteConfirmation">
    <div class="modal2" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmación de devolucion</h5>
            <button type="button" class="btn-close close-button" (click)="closeDeleteConfirmation()">
              <i class="bi bi-x-square-fill"></i>
            </button>
          </div>
          <div class="modal-body2">
            <p>¿Estás seguro de que deseas devolver esta venta?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-eliminar" (click)="confirmDelete()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  