<h2>Análisis</h2>

<div class="titulo-buscador">Grafico de ventas de contado y a credito</div>

<div class="grafica-doble">
  <img
    src="http://localhost:3000/grafico-doble"
    alt="Gráfico de Ventas por Forma de Pago"
  />
</div>

<div class="modal-header"></div>

<div class="titulo-buscador">Grafico de ventas por subcategorias</div>

<div class="grafica-pastel">
  <img
    src="http://localhost:3000/grafico-barras"
    alt="Gráfico de Ventas por Subcategoría"
  />
</div>

<div class="modal-header"></div>

<div class="contenedor">
  <div class="columna">
    <div class="titulo-buscador">Grafico de las ventas por categorias</div>
    <div class="grafica-dos-barras">
      <img
        src="http://localhost:3000/grafico-barras-categorias"
        alt="Gráfico de Ventas por Categoría"
      />
    </div>
  </div>
  <div class="columna">
    <div class="titulo-buscador">Grafico de las compras por proveedor</div>
    <div class="grafica-dos-barras">
      <img
        src="http://localhost:3000/grafico-barras-proveedores"
        alt="Gráfico de Compras por Proveedor"
      />
    </div>
  </div>
</div>
