<h2>Lista de precios</h2>

<div class="search-container">
  <div class="search-header">
    <h2 class="titulo-buscador">Buscar un producto</h2>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="Buscar por nombre o código"
      class="search-input"
      (input)="onSearch()"
    />
  </div> 
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Proveedor</th>
        <th>Subcategoría</th>
        <th>Nombre</th>
        <th>Formulación</th>
        <th>Unidad</th>
        <th>Cantidad</th>
        <th>Precio Venta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts()">
        <td>{{ product.codigo }}</td>
        <td>{{ product.proveedor }}</td>
        <td>{{ product.subcategoria }}</td>
        <td>{{ product.nombre_producto }}</td>
        <td>{{ product.formulacion }}</td>
        <td>{{ product.unidad }}</td>
        <td>{{ product.cantidad }}</td>
        <td>{{ product.precio_venta | currency: 'USD' : 'symbol' : '1.0-0' }}</td>
      </tr>
      <tr *ngIf="filteredProducts().length === 0">
        <td colspan="8" class="No-resultados">No se encontraron resultados</td>
      </tr>
    </tbody>
  </table>
</div>
