/* Titulo */
h2 {
  text-align: center;
  font-weight: bold;
}

/* Buscador */
.search-container {
  display: inline-flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titulo-buscador {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.search-input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(48, 84, 63, 0.3);
  /* Sombra con verde oscuro */
  transition: border-color 0.3s ease;
  /* Transición suave */
  width: 260px;
}

/* Tabla */
table {
  margin: 20px 0;
  font-size: 15px;
  width: 100%;
  /* Añadido para que la tabla ocupe todo el ancho */
  border-collapse: collapse;
  /* Añadido para colapsar los bordes */
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  /* Borde más suave */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

th {
  background-color: #30543f;
  /* Verde oscuro */
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f9f5;
  /* Verde claro para filas pares */
}

tr:hover {
  background-color: #e6f7ec;
  /* Verde claro para hover */
  transform: translateY(-2px);
  /* Ligero desplazamiento hacia arriba */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  height: 50px;
}

.table-container td:nth-child(7),
.table-container td:nth-child(8) {
  text-align: right;
}

.No-resultados {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.table-container th:nth-child(1) {
  width: 9%;
}

.table-container th:nth-child(2) {
  width: 12%;
}

.table-container th:nth-child(3) {
  width: 15%;
}

.table-container th:nth-child(4) {
  width: 20%;
}

.table-container th:nth-child(5) {
  width: 15%;
}

.table-container th:nth-child(6) {
  width: 10%;
}

.table-container th:nth-child(7) {
  width: 8%;
}

.table-container th:nth-child(8) {
  width: 10%;
}
